<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
		<add name="dbx"

            connectionString="Data Source=jaimy.database.windows.net;Initial Catalog=ExamenDotNETAdvanced;Persist Security Info=True;User ID=jaimy;Password=DotNetExamen1"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>